In [3]:
import pandas as pd
import numpy as np
import math
import seaborn as sns


file = 'o2Saturation.csv'
file_read = pd.read_csv( file )
o2_data = pd.DataFrame( file_read )
o2_data

      98.6
0     98.6
1     98.6
2     98.6
3     98.1
4     97.5
...    ...
3580  98.6
3581  98.6
3582  98.6
3583  98.6
3584  98.6

[3585 rows x 1 columns]